
  .video-list.svelte-dh3ava {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .video-card.svelte-dh3ava {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    width: 200px;
  }

